// Fonts
$mainFont: 'Plus Jakarta Sans', sans-serif;

// Text colors
$main-text-color: #000;
$secondary-text-color: #00742e;
$title-text-color: #2eca3e;

//Bg colors
$mainBg-color: #fff;

//gradient
$gradient: linear-gradient(180deg, rgba(173, 236, 151, 0) 0%, #adec97 100%);

//efect
$animationColor: color 250ms ease;
$animationBackgroundColor: background-color 250ms ease;

//border
$btnHero: 3px solid #fff;
$input-footer: 1px solid #e7e7e7;
$footer: 1px solid #e5e5e5;
