// Fonts
$mainFont: 'Plus Jakarta Sans', sans-serif;

// Text colors
$main-text-color: #000;
$secondary-text-color: #00742e;
$title-text-color: #2eca3e;

//Bg colors
$mainBg-color: #fff;

//gradient
$gradient: linear-gradient(180deg, rgba(173, 236, 151, 0) 0%, #adec97 100%);

//efect
$animationColor: color 250ms ease;
