<main class="main">
  <section class="hero section">
    <h2 class="hero-subtitle">
      Chcesz przygotować ciekawą grę terenową dla swoich uczniów?
    </h2>
    <h1 class="hero-title">Teraz to proste!</h1>
    <p class="hero-text">
      Ekomobilni to w pełni darmowe narzędzie, w którym pobierzesz materiały i
      łatwo przygotujesz grę terenową dla swojej klasy. Aktywnie odkrywaj
      fascynujący świat ekologii!
    </p>
    <div class="qr-cod">
      <p class="qr-cod__text">
        Przygotuj grę terenową <span>w 5 minut</span> na stronie:
        <a class="link qr-cod_link" href="https://ekomobilni.edu.pl/"
          >ekomobilni.edu.pl</a
        >
      </p>
      <img class="qr-cod__img" src="./images/qr.svg" alt="" />
    </div>
  </section>
  <section class="section">
    <h3>Na czym polega gra?</h3>
  </section>
</main>
