<main class="main">
  <section class="hero section">
    <div class="hero__description">
      <h2 class="hero-subtitle">
        Chcesz przygotować ciekawą grę terenową dla swoich uczniów?
      </h2>
      <h1 class="hero-title">Teraz to proste!</h1>
      <p class="hero-text">
        Ekomobilni to w pełni darmowe narzędzie, w którym pobierzesz materiały i
        łatwo przygotujesz grę terenową dla swojej klasy. Aktywnie odkrywaj
        fascynujący świat ekologii!
      </p>
      <div class="qr-cod">
        <p class="qr-cod__text">
          Przygotuj grę terenową <span>w 5 minut</span> na stronie:
          <a class="link qr-cod_link" href="https://ekomobilni.edu.pl/">
            ekomobilni.edu.pl
          </a>
          <img src="./images/Arrow.svg" alt="arrow qr" />
        </p>

        <img class="qr-cod__img" src="./images/qr.svg" alt="" />
      </div>
    </div>
    <div class="hero__background">
      <img src="./images/girl.png" alt="hero girl" />
    </div>
  </section>
  <section class="rools section">
    <h2 class="rools__title">Na czym polega gra?</h2>
    <ul class="rools__list list">
      <li class="rools__item">
        <div class="rools__step">
          <img width="40" src="./images/szukaj.svg" alt="icon szukaj" />
          <p>Szukaj</p>
        </div>
        <p class="rools__description">
          Uczniowie w grupach poruszają się po terenie gry i szukają kodów do
          zeskanowania.
        </p>
      </li>
      <li class="rools__item bigger">
        <div class="rools__step">
          <img width="40" src="./images/odkrywaj.svg" alt="icon Odkrywaj" />
          <p>Odkrywaj</p>
        </div>
        <p class="rools__description">
          Każdy zeskanowany kod przenosi ich do nowej krainy, gdzie czeka na
          nich wprowadzenie fabularne oraz szereg interesujących zadań.
        </p>
      </li>
      <li class="rools__item">
        <div class="rools__step">
          <img width="40" src="./images/wygrywaj.svg" alt="icon Wygrywaj!" />
          <p>Wygrywaj!</p>
        </div>
        <p class="rools__description">
          Drużyny podążają za historią bohaterów i zdobywają punkty, by znaleźć
          się na szczycie podium ekspertów ekologii!
        </p>
      </li>
    </ul>
    <div class="rools__wafe"><img src="./images/wafe.svg" alt="" /></div>
  </section>
  <section class="contest">
    <div class="contest__img">
      <img src="./images/konkurs.jpg" alt="contest" />
    </div>
    <div class="contest__description">
      <p class="contest__subtitle">Weź udział w konkursie i wygraj 4000 zł!</p>
      <h2 class="contest__title">Jak stworzyć EkoSzkołę?</h2>
      <p class="contest__text">
        Za pomocą prezentacji pokaż, jak Wasza szkoła może stać się bardziej
        ekologiczna i wygraj dla Was sprzęt multimedialny o wartości
        <span>4000 zł!</span>
      </p>
      <a href="https://ekomobilni.edu.pl/" class="link contest__link"
        >Poznaj szczegóły na ekomobilni.edu.pl/konkurs</a
      >
    </div>
    <div class="contest__wafe"><img src="./images/wafe-down.png" alt="" /></div>
  </section>
</main>
