.hero {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.hero-title {
  color: $title-text-color;
  font-size: 74px;
  font-weight: 800;
  line-height: 114.5%;
  margin-bottom: 48px;
  font-style: normal;
}

.hero-subtitle {
  text-align: justify;
  font-size: 74px;
  font-weight: 700;
  letter-spacing: 1.11px;
  line-height: 120%;
  margin-bottom: 27px;
}

.hero-text {
  font-size: 30px;
  line-height: 114.5%;
  margin-bottom: 74px;
  text-align: justify;
  width: 750px;
}

.qr-cod {
  display: flex;
  gap: 64;
  color: $secondary-text-color;
  text-align: justify;
  font-size: 33px;
  line-height: normal;
}

.qr-cod__text {
  width: 361px;

  & span {
    font-weight: bold;
  }
}

.qr-cod_link {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: $title-text-color;
  }
}
.hero__description {
  width: 825px;
  flex-shrink: 0;
}

.qr-cod__img {
  margin-top: 15px;
  width: 154px;
  height: 154px;
}

.hero__background {
  position: absolute;
  left: 305px;
  top: 0;
  width: 1553px;
  height: 1010px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background: $gradient;
  overflow: hidden;
  z-index: -2;

  & img {
    position: absolute;
    top: -126px;
    right: 460px;
    transform: rotate(90deg);
    display: block;
    width: 800px;
  }
}

///----ROOLS----///
.rools {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rools__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  color: $secondary-text-color;
  line-height: 120%;
}

.rools__list {
  position: relative;
  display: flex;
  gap: 93px;
  margin-top: 50px;
}

.rools__item {
  width: 383px;
  &.bigger {
    width: 472px;
  }

  &:first-child:after {
    content: ' ';
    position: absolute;
    bottom: 225px;
    left: 378px;
    width: 94px;
    height: 3px;
    background-color: $title-text-color;
  }

  &:nth-child(2):after {
    content: ' ';
    position: absolute;
    bottom: 225px;
    left: 938px;
    width: 94px;
    height: 3px;
    background-color: $title-text-color;
  }
}

.rools__step {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  width: 100%;
  height: 90px;
  border-radius: 61px;
  border: 3px solid var(--green-green-700, #2eca3e);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  color: $secondary-text-color;

  & > p {
    margin-left: 20px;
  }
}

.rools__wafe {
  display: flex;
  position: absolute;
  top: -40px;
  left: -10;
  width: 1878.427px;
  height: 946.938px;
  flex-shrink: 0;
  z-index: -1;
}

.rools__description {
  margin-top: 26px;
}

///----contest---///

.contest {
  margin-top: 45px;
  padding-bottom: 80px;
  padding-right: 200px;
  position: relative;
  display: flex;
  width: 1610px;
  flex-shrink: 0;
  overflow: hidden;

  &__img {
    width: 506.716px;
    height: 491.411px;
    flex-shrink: 0;
  }
}

.contest__description {
  margin-left: 120px;
  text-align: justify;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 125px;
}

.contest__subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 103%;
  letter-spacing: 1.35px;
  color: $secondary-text-color;
  margin-bottom: 25px;
}

.contest__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.5%;
}

.contest__text {
  margin-top: 33px;
  margin-bottom: 33px;

  & span {
    font-weight: bold;
  }
}

.contest__link {
  font-weight: 600;
  transition: $animationColor;

  &:hover,
  &:focus {
    color: $title-text-color;
  }
}

.contest__wafe {
  display: flex;
  position: absolute;
  top: -40px;
  left: -10;
  width: 1878.427px;
  height: 946.938px;
  transform: rotate(-1deg);
  flex-shrink: 0;
  z-index: -1;
}
